<html>
<head>
  <title>JQVMap - World Map</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="css/jqvmap.css" media="screen" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="/js/jquery.vmap.js"></script>
  <script type="text/javascript" src="/js/maps/jquery.vmap.world.js" charset="utf-8"></script>
  <script type="text/javascript" src="/js/req.js" charset="utf-8"></script>
</head>
<body>
<div class="wrapper">
  <div id="vmap" style="width: 100%; height: 100%;"></div>
  <!-- PLANE -->
  <img src="/img/plane.png" class="plane" height="80px" alt="">
  <!-- SONG INFO -->
  <div class="song-info <%if (!album_info.song_info) { %> hidden <% } %>">

    <div class="box-title">Now Playing</div>
    <div class="song-thumbnail">
      <img src='<%= album_info.album_photo %>' height='150' width='150' alt="" class="thumb">
    </div>
    <p class="artist"><%= album_info.title %></p>
    <a href='<%= album_info.uri %>' target="_blank" class="link">check info about the album</a>
    <p id="no-video"><%if (!album_info.video_info.is_video) { %>the video is not provide<% } %></p>

    <div class="buttons-container">    
      <a class="fb-share" href="<%if (!album_info.video_info.fb_url) { %> disabled <% } %>" target="_blank">
        <img src="/img/facebook.png" alt="">
      </a>
      <div class="price-wrapper">
        <div class="coin">
        <p class="price"><%if (album_info.video_info.lowest_price !== 0) { %> album_info.video_info.lowest_price <% }else{ %> $ <% } %></p>
        </div>
      </div>
    </div>

    <div class="player-wrapper <%if (!album_info.video_info.is_video) { %> hidden <% } %>">
      <iframe src="<% album_info.video_info.video_url %>" frameborder="0" class="player"></iframe>
      <img id="vinyl" height="100px" src="/img/vinyl.svg" alt="">
    </div>

  </div>
  <!-- TIMELINE -->
  <div class="timeline">
    <input class="time" type="range" min="1920" max="2017" step="1">
    <span id="year" class="range-value">1969</span>
  </div>
  <!-- HELP -->
  <div class="start hidden">
    <p>pick a <span class="country">coutry</span> anywhere on the map</p>
    <span class="and">and</span>
    <p class="year">pick a <span class="year">year</span> from 1920 to 2017</p>
  </div>
  <div class="help">
    <i class="fa fa-info" aria-hidden="true"></i>
  </div>
  <!-- MOOD -->
  <div class="mood">
    <span class="flag">mood</span>
    <ul>
      <li><i class="fa fa-circle-o" aria-hidden="true"></i><p>Blues</p></li>
      <li><i class="fa fa-circle-o" aria-hidden="true"></i><p>Classical</p></li>
      <li><i class="fa fa-circle-o" aria-hidden="true"></i><p>Electronic</p></li>
      <li><i class="fa fa-circle-o" aria-hidden="true"></i><p>Soul</p></li>
      <li><i class="fa fa-circle-o clicked" aria-hidden="true"></i><p>Hip-Hop</p></li>
      <li><i class="fa fa-circle-o" aria-hidden="true"></i><p>Jazz</p></li>
      <li><i class="fa fa-circle-o" aria-hidden="true"></i><p>Latin</p></li>
      <li><i class="fa fa-circle-o" aria-hidden="true"></i><p>Pop</p></li>
      <li><i class="fa fa-circle-o" aria-hidden="true"></i><p>Reagge</p></li>
      <li><i class="fa fa-circle-o" aria-hidden="true"></i><p>Rock</p></li>
    </ul>
  </div>
</div>
  

</body>
</html>